{% extends '@EasyAdmin/default/list.html.twig' %}

{% block content_title %}{{ _content_title }}{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="col-lg-12">
            <div class="button-action pull-right">
                <a class="btn btn-primary" href="{{ path('admin', {'entity': _entity_config.name, 'action': 'new'}) }}">
                    Adicionar {{ _entity_config.name }}
                </a>
            </div>
        </div>
    </div>
    <br>
{% endblock content_header %}